extends ../template

block variables
    - var title = 'Блог'

block content
    h1 Блог
    ul
        li
            h2 Lorem ipsum
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, laborum eos qui aut asperiores nisi dolorem maxime ratione et officia expedita magni iste minus corporis ipsam, alias cum. Alias, eum.
        li
            h2 Lorem ipsum
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, laborum eos qui aut asperiores nisi dolorem maxime ratione et officia expedita magni iste minus corporis ipsam, alias cum. Alias, eum.
        li
            h2 Lorem ipsum
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, laborum eos qui aut asperiores nisi dolorem maxime ratione et officia expedita magni iste minus corporis ipsam, alias cum. Alias, eum.